html, body{
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

.game{
	padding-top: 5px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.score{
	margin: 5px 0;
	font-family: "Courier New";
	text-align: center;
	font-weight: bold;
}

.field{
	text-align: center;
	display: inline-block;
	border: 1px solid #bbb;
}

.player-score{
	color: #258;
}

.field div.cell{
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
    text-align: center;

    background-color: #eee;
    position: relative;
}

.field div.cell:after {
    border-bottom: 1px solid rgba(128, 128, 128, 0.05);
    border-right: 1px solid rgba(128, 128, 128, 0.05);
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.field div.cell.active{
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.field div.cell.active:after{
	border-bottom: none;
    border-right: none;
}